.visible-desktop
  .ad.desktop
    :javascript
      google_ad_client = "ca-pub-8906438740524237";
      /* Krooma Search Skyscraper */
      google_ad_slot = "3912207957";
      google_ad_width = 160;
      google_ad_height = 600;
    %script{:src => "http://pagead2.googlesyndication.com/pagead/show_ads.js"}
.visible-tablet
  .ad.tablet
.visible-phone
  .ad.phone