%i{:class => "icon-envelope"}
-if collapsable
  %a.title{:href=> "#", :data => {:bind => "click: toggleActive"}} Get new cars for this search by email
-else
  %span.title Get new cars for this search by email
%form{:class => "form-inline"}
  %fieldset
    .controls
      .control-group
        %label.control-label My email:
        %input{:type => "text"}
        %button{:type => "submit", :class => "btn btn-primary"} Save Alert
        %p.help-block You can cancel alerts at any time