<div class="logo">
   <svg version="1.1" id="car" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" viewBox="0 0 95 79.667" enable-background="new 0 0 95 79.667" xml:space="preserve">
      <path fill="#FFFFFF" d="M0,64"/>
      <path fill="none" d="M21.5,74"/>
      <path fill="#FFFFFF" d="M47.5,64l-26-0.166V74c0,0-0.954,5.667-6.833,5.667S7.5,74,7.5,74V64L0,63.834c0,0,0-24.334,0-28.334
        s7.5-8.167,7.5-8.167l9-20.167c0,0,3.63-7.167,7.667-7.167S47.5,0,47.5,0v7.833H24.167l-7.667,19.5h31V64z M14.958,35.5
        c-3.612,0-6.541,2.929-6.541,6.541c0,3.613,2.929,6.542,6.541,6.542c3.613,0,6.542-2.929,6.542-6.542
        C21.5,38.429,18.571,35.5,14.958,35.5z M47.5,27.417h31l-7.667-19.5H47.5V0.084c0,0,19.296,0,23.333,0S78.5,7.251,78.5,7.251
        l9,20.167c0,0,7.5,4.167,7.5,8.167s0,28.334,0,28.334l-7.5,0.166v10c0,0-1.288,5.667-7.167,5.667S73.5,74.084,73.5,74.084V63.918
        l-26,0.166V27.417z M73.5,42.125c0,3.613,2.929,6.542,6.542,6.542c3.612,0,6.541-2.929,6.541-6.542c0-3.612-2.929-6.541-6.541-6.541
        C76.429,35.584,73.5,38.513,73.5,42.125z"/>
    </svg>
</div>