=form_tag(search_cars_path, :method => :get, :class => "form-search") do
  %fieldset
    .control-group
      .controls
        .input-append
          %input{:type => "text", :placeholder=>"Ex: 2012 Honda Civic", :class => "input-large search-query"}<
            %button{:type => "submit", :class => "btn btn-primary"}<
              %i{:class => "icon-search"}
