%form.form-search{:action => search_cars_path, :method => :get, :id => "global-search-form"}
  -#=form_tag(search_cars_path, :method => :get, :class => "form-search") do
  %fieldset
    .control-group
      %input{:type => "text", :placeholder=>"Ex: 2012 Honda Civic", :class => "input-large search-query", :name => "q"}
      .input-append
        %input{:type => "text", :placeholder=>"Ex: Los Angeles, CA", :class => "input-large search-query", :name => "l"}<
          %button{:type => "submit", :class => "btn btn-primary"}<
            %i{:class => "icon-search"}
            Find Cars
