-content_for(:title) do
  About krooma

%h2 What's a krooma?
%p!= "Krooma is derived from the Japanese word 車 (<i>kuruma</i>), meaning car."

%h2 Another car site?
%p
  Krooma isn't just another car site, it is THE car site. Here at krooma, we believe that you shouldn't have to pay to sell your car.
  Selling your car should be easy and hassle-free. We also feel that shopping for new and used cars should be just as simple.