.row-fluid
  .span12
    .hero-unit
      %h1 Find Your Dream Car
      %p Finding your perfect car has never been so easy. Just type what you're looking for and search!
      %p
        =form_tag(search_cars_path, :method => :get, :class => "form-search") do
          =text_field_tag 'q', nil, :placeholder => "Ex: 2012 Honda Civic", :class => "input-xlarge search-query"
          =button_tag "Search", :type => "submit", :class => "btn btn-primary"


.row-fluid
  .span4
    %h2 Lorem Ipsum
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet fermentum nunc. In hac habitasse platea dictumst. Integer pulvinar, elit vitae rhoncus lobortis, leo eros mattis est, sed posuere nibh enim at sapien. Nam a neque felis. Aenean et porta ipsum. Suspendisse potenti.
  .span4
    %h2 Lorem Ipsum
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet fermentum nunc. In hac habitasse platea dictumst. Integer pulvinar, elit vitae rhoncus lobortis, leo eros mattis est, sed posuere nibh enim at sapien. Nam a neque felis. Aenean et porta ipsum. Suspendisse potenti.
  .span4
    %h2 Lorem Ipsum
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet fermentum nunc. In hac habitasse platea dictumst. Integer pulvinar, elit vitae rhoncus lobortis, leo eros mattis est, sed posuere nibh enim at sapien. Nam a neque felis. Aenean et porta ipsum. Suspendisse potenti.
