/*
*= require _caralertsubscribeviewmodel
*/
.car
{
    margin-bottom: 2em;
    overflow: auto;

    .thumbnails
    {
        margin-right: .5em;
    }

    img
    {
        width: 100%;
    }
}

.page-count
{
    text-align: right;
}