/*
*= require _caralertsubscribeviewmodel
*/
@import 'twitter/bootstrap/variables';

.car
{
    margin-bottom: 2em;
    overflow: auto;

    .title
    {
        font-weight: bold;
        font-size: larger;
    }

    .asking_price,
    .mileage
    {
        font-weight: bold;
    }

    p
    {
        margin: @baseLineHeight / 2 0;
    }
}

.page-count
{

}

.modal
{
    .modal-body
    {
        overflow-y: visible;
    }
    .carousel img
    {
        width: 100%;
    }
}

// swap search results and facets non-mobile views
@media(min-width: 481px)
{
    #results
    {
        float: right !important;
        margin-left: auto;
    }

    #facets
    {
        float: left;
    }
}