=content_for(:title) do
  Cars By Make

%ul.nav
  -@manufacturers.each do |manufacturer|
    %li.nav-header= link_to manufacturer.name, make_path(manufacturer)
    -manufacturer.models.each do |model|
      %li= link_to model.name