=content_for(:title) do
  Cars By Make

%ul.nav.nav-list
  -@manufacturers.each do |manufacturer|
    =link_to manufacturer.name, make_path(manufacturer)
    %ul.nav.nav-list
      -manufacturer.models.each do |model|
        %li= link_to model.name