-content_for :content do
  #header.navbar
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar{:data => {:target => ".nav-collapse", :toggle => "collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %a.brand{:href => root_path} Krooma
      -#.container-fluid.nav-collapse
        .row-fluid
          = render :partial => "shared/search"

  .container-fluid
    .row-fluid
      .span10
        =yield
      .span2
        .sidebar-nav
          =yield(:sidebar)

=render :file => "layouts/base"
