-content_for :content do
  .row
    .span2
      %a.brand{:href => root_path}
        %img{:src => asset_path("krooma.png"), :alt => "Krooma" }
    .span10
      =render :partial => "shared/search"

  .container
    .row
      .span10
        =yield
      .span2
        .sidebar-nav
          =yield(:sidebar)

=render :file => "layouts/base"
