-content_for :content do
  #subheader.navbar
    .navbar-inner
      .pull-left
        =render :partial => "shared/logo"
        %a.brand{:href => root_path} krooma
      .pull-right
        =render :partial => "shared/search"

  .container-fluid
    -if content_for?(:title)
      .page-header
        %h1= yield(:title)

    -if a = alert
      .alert.alert-error= a

    .row-fluid
      .span10
        =yield
      .span2
        .sidebar-nav
          =content_for?(:sidebar)? yield(:sidebar) : render("shared/ad")

=render :file => "layouts/base"
