-content_for :content do
  .navbar
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar{:data => {:target => ".nav-collapse", :toggle => "collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %a.brand{:href => "#"} Krooma
      .container-fluid.nav-collapse
        %ul.nav
          %li= link_to "Link1", "/path1"
          %li= link_to "Link2", "/path2"
          %li= link_to "Link3", "/path3"

  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          =yield(:sidebar)

      .span9
        =yield

=render :file => "layouts/base"
